.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  align-items: center;
  justify-content: center;
  width: 120px; /* 4 * 30px */
  height: 120px; /* 4 * 30px */
  margin-top: 20px; /* 必要であれば、ボードの上にもう少し余白を追加 */
  margin-bottom: 20px; /* 必要であれば、ボードの下にもう少し余白を追加 */
  background-color: #c0c0c0;
  border: 1px solid black;
  border-top-color: #c0c0c0;
  border-left-color: #c0c0c0;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
}

.cell {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #c0c0c0;
  border: 1px solid;
  border-color: black;
  border-top: 2px solid #fff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  border-left: 2px solid #fff;
}

.cell[style*='background-position: 0px 0px'] {
  cursor: default;
  background-color: #c0c0c0;
  border-top: 1px solid #808080;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #808080;
}

.cell:hover:not([style*='background-position: 0px 0px']) {
  background-color: #d0d0d0;
}

.row {
  display: flex;
}

.openedEmpty {
  /* 新しいクラス名 */
  cursor: default; /* 開かれたマスはクリック不可 */
  border-top: 1px solid #808080;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #808080;

  /* background-image: none; /* 空のマスの場合のみこれを適用する */
}

/* 開かれた「空の」マス (cellValue = 3 の場合) */

/* .cell に .openedEmpty クラスがつき、かつ background-position が 'none' の場合 */

/* JSX側で style={{ backgroundPosition: 'none' }} を渡すことを想定 */
.cell.openedEmpty[style*='background-position: none'] {
  background-image: none; /* 画像を非表示にする */
}

/* 開かれた「数字の」マス (background-positionが設定されている場合) */

/* .cell に .openedEmpty クラスがつき、かつ background-position が設定されている場合 */
.cell.openedEmpty:not([style*='background-position: none']) {
  /* 数字の画像が表示されるので background-image: none; は不要 */

  /* openedEmpty のボーダーと背景色が適用される */
}
